.profile__edit-button {
    background-image: url(../../../image/Edit-Button.svg);
    background-size: cover;
    background-color: #000;
    border: #fff;
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin-top: 15px;
    padding: 12px;
}

.profile__edit-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 550px) {
    .profile__edit-button {
        margin-top: 0;
    }
}